@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FEF3C7;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

#app {
    min-height: 100vh;
}

.nav-bar {
    height: 6vh;
    background-color: white;
    border-bottom: 3px solid #0C8100;
}

.main-plant-area {
 padding: 0.5em;
}

.plantlist-area {
    max-width: 50vw;
    padding: 2px;
}

.plant-card {
    max-width: 23vw;
    border-radius: 5px;
    border: 2px solid #84CC16;
}

.add-water-btn {
    padding: 3px;
    margin: 3px;
    border: 2px solid #38BDF8;
}

.newplant-area {
    display: grid;
    place-items: center;
}

.newplant-form-area {
    width: 60vw;
    height: 85vh;
}

.newplant-form {
    border: 5px solid #65A30D;
}
.pltfrm {
    border: 1px solid #E7E5E4; 
}

.newplant-btn {
    padding: 3px;
    margin: 10px;
    border: 2px solid #84CC16;
}

#footer {
    border-radius: 1px;
    width: 100%;
}
