@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FEF3C7;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
}

#app {
    min-height: 100vh;
}

.nav-bar {
    min-height: 7vh;
    background-color: white;
    border-bottom: 3px solid #0C8100;
}

.plant-links {
    padding-top: 1.3vh;
}

#logo-img {
    height: 60px;
}

.main-plant-area {
 height: 95vh;
 /* box-sizing: border-box; */
 
}

.mainplant-flexarea {
    height: 85%;
}

.plantlist-area {
    width: 30%;
    padding: 2px;
    height: 100%;
    overflow: hidden;
    border: 3px solid #0C8100;
    box-sizing: border-box;
}

.plant-card {
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #84CC16;
}

.viewplant-btn {
    padding: 3px;
    margin: 3px;
    border: 2px solid #84cc16;
}

.newplant-area {
    display: grid;
    place-items: center;
}

.newplant-form-area {
    width: 55vw;
    height: 85vh;
}

.newplant-form {
    border: 5px solid #65A30D;
}

.pltfrm {
    border: 1px solid #E7E5E4; 
}

.newplant-btn {
    padding: 3px;
    margin: 10px;
    border: 2px solid #84CC16;
}

.main-plantdetail-area {
    height: 100%;
    width: 70%;
    border: 3px solid #0C8100;
}

.plant-detail {
    height: 37vh;
}

.waterings-area {
    height: 39%;
    margin: 8px;
}

.waterings-card {
    width: 30%
}


.add-water-btn {
    padding: 3px;
    margin: 3px;
    border: 2px solid #38BDF8;
}

#footer {
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
